body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  background-color: #000;
  color: #fff;
  /* margin: 40px auto 40px auto;
  width: 620px; */
}
/* 
h1 {
  font-size: 24px;
  font-weight: 700;
} */

header {
  position: fixed;
  top: 24px;
  left: 24px;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

section div.split {
  display: flex;
  align-items: center;
  justify-content: center;
}

section div.split:first-child {
  background-color: teal;
}

section div.slides {
  background-color: pink;
  width: 500px;
  height: 750px;
}

img {
  width: 500px;
  height: 750px;
}

section div.info {
  max-width: 480px;
}
